@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;

  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}
.progress-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  height: 4px;
  width: 100%;
  transform: translateY(-50%);
  background-color: var(--line-border-empty);
  transition: width 0.4s ease;
}

.progress {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  height: 4px;
  width: 0%;
  transform: translateY(-50%);
  background-color: var(--line-border-fill);
  transition: width 0.4s ease;
}

/* style the circle class background collor white set border radius 50% set height and width  30 px display flex aligh items center justifi content center border solid 3px lightgray transition 4s*/

.circle {
  background-color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 3px var(--line-border-empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  padding: 8px 30px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.4s ease;
  margin: 5px;
  font-family: inherit;
}

.btn:active {
  transform: scale(0.98);
}
.btn:focus {
  outline: 0;
}
.btn:disabled {
  background-color: #e0e0e0;
  color: #333;
  cursor: not-allowed;
}
